<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
</head>
<body>
    <h1>Questionnaire</h1>
    <form method="POST" action="{{ url_for('questionnaire') }}">
        {{ form.hidden_tag() }}
        <p>rq2
            {{ form.riqi.label }}<br>
            {{ form.riqi }}
        </p>
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name }}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name }}
        </p>


        <b>Expected course period(multiple choice):</b><br>
        {% for checkbox in form.time_periods %}
            <label>
                {{ checkbox() }} {{ checkbox.label.text }}
            </label><br>
        {% endfor %}

        <p>
            {{ form.submit() }}
        </p>
    </form>
</body>
</html>