<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="{{ url_for('static', filename='Welcome page.css') }}">
    <meta charset="UTF-8">
    <title>Welcome page</title>
</head>
<body>
    <table bgcolor="rgb(173, 216, 50)">
        <tr>
            <td> </td>

            <td><img src="https://img2.baidu.com/it/u=2714564774,2602350720&fm=253&fmt=auto&app=138&f=JPEG?w=600&h=433" alt="" height="170" width="200"></td>
            <td align="left" style="color: aliceblue;"><font size="6">{{ motto }}</font></td>
        </tr>
    </table>

    <table>
        <tr>
            <td align="center">

                <a target="_blank" href="{{ url_for('information') }}">
                    <font size="5">Data collection reason statement</font>
                </a>
            </td>
            <td align="left">
                <a target="_blank" href="{{ url_for('data') }}">
                    <font size="5">Questionnaire</font>
                </a>
            </td>
        </tr>
    </table>


    <table>
        <tr>
            <td align="left"><img src="https://img1.baidu.com/it/u=1474689451,3881854574&fm=253&fmt=auto&app=138&f=JPEG?w=735&h=500" alt="" height="500" width="700"></td>
            <td align="left" valign="top" style="margin-left: -20px;">
                <p class="text">Welcome to Glasgow University! <br>Do you want to share your ideas with others? <br>Do you want more academic support? <br>Do you want to talk about your troubles?<br>Fill out the questionnaire and join us</p>
            </td>
        </tr>
    </table>


    <table>
        <tr>
            <td align="left"><img src="https://inews.gtimg.com/newsapp_bt/0/13656617085/1000" alt="" height="500" width="700"></td>
            <td align="left" valign="top" style="margin-left: -20px;">
                <p class="text">The University of Glasgow, founded in 1451, <br>is located in Glasgow, Scotland, England. <br>It is a comprehensive research university, <br>considered the fourth oldest university in the <br>English-speaking world <br>and one of the seven classical universities in Britain.</p>
            </td>
        </tr>
    </table>
</body>
</html>
